<div class="styled-product">
  <h1 class="product-name">Lemon Juice</h1>
  <button class="decrement-button">-</button>
  <h3 class="counter">0</h3>
  <button class="increment-button">+</button>
</div>

<div class="styled-product">
  <h1 class="product-name">Sugar</h1>
  <button class="decrement-button">-</button>
  <h3 class="counter">0</h3>
  <button class="increment-button">+</button>
</div>

<div class="styled-product">
  <h1 class="product-name">Ice Cubes</h1>
  <button class="decrement-button">-</button>
  <h3 class="counter">0</h3>
  <button class="increment-button">+</button>
</div>
